<launch>
  <arg name="scene_name" default="scenenet" />
  <arg name="visualize" default="true" />

  <!--launch-prefix="taskset -c 3 gdb -ex run"-->

  <node name="gsm_node" pkg="gsm_node" type="gsm_node"  output="screen"> 
    <rosparam command="load" file="$(find gsm_node)/cfg/default.yaml" />
    <rosparam command="load" file="$(find gsm_node)/cfg/$(arg scene_name).yaml" />
    <param name="meshing/visualize" value="$(arg visualize)" />
  </node>
</launch>