<launch>
  <arg name="scene_name" default="sweet_pepper" />
  <arg name="sensor_name" default="realsense" />
  <arg name="visualize" default="true" />

  <include file="$(find gsm_node)/launch/vpp_pipeline.launch">
    <arg name="scene_name" value="$(arg scene_name)" />
    <arg name="visualize" value="$(arg visualize)" />
  </include>

</launch>
